#root {
    max-width: 1280px; /*1280px*/
    margin: 0 auto;
    padding: 0rem;
    text-align: center;
  }





.pdfview {
    display: inline-block;
}
.gt {
    display: inline-block;
    align-items: center;
}
