#root {
     /*1280px*/
    margin: 0 auto;
    padding: 0rem;
    text-align: center;
  }





.pdfview {
    display: inline-block;
    padding: 1%;
    background-color:black;
}

.YayNay {
    display: flex;
    justify-content: center;

}

.rounded-circle {
    margin: 0 20px;
}
.gt {
    display: inline-block;
    align-items: center;
}
