body {
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);


}

#root {
     /*1280px*/
    margin: 0 auto;
    padding: 0rem;
    text-align: center;

  }





.pdfview {
    display: inline-block;
    padding: 1%;
}

.col-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -40px 0;

}
.col-4 {
    margin-top: 10px;
    text-align: left;
}

.rounded-circle {
    height: 60px;
    width: 60px;
    font-size: 30px;
}

.rounded-circle:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.heading {
    text-align: left;
}


.gt {
    display: inline-block;
    align-items: center;
}
